<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @shoplist.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shoplist.price %>
</p>

<%= link_to 'Edit', edit_shoplist_path(@shoplist) %> |
<%= link_to 'Back', shoplists_path %>
